<!-- Start Navigation -->
<div id="myNavbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="#" class="navbar-brand">State of Mine</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup">Sign-Up</a></li>
        <li><a href="/login">Log-in</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
      </ul>
    </div>
  </div>
</div>    
<!--- End Navigation ---->

<!-- Start Index Here -->
<header id="header" class="header">
  <div class="container header-text">
    <div class="row header-row">
      <div class="col-lg-6 col-md-6 header-sec header-sec-left">
        <h1>State of Mine</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac nibh eget nisl aliquam molestie non nec tortor. 
          Vestibulum scelerisque, augue sit amet sagittis sodales, mauris orci mollis mi, ut auctor dolor lorem sed ligula. 
          Duis porttitor nisi mattis, pharetra orci sit amet, ornare magna. Nunc egestas lobortis ex, vel dictum leo ullamcorper sed.
        </p>
      </div>

      <% if(typeof user === "undefined"){ %>
      <div class="col-lg-4 col-md-offset-1 col-md-4 header-sec header-sec-right">
        <h1>Login </h1>
        <form action="/login" method="POST">
          <label for="username">Username</label><br>
          <input type="text" name="username" placeholder="Username"><br><br>
      
          <label for="password">Password</label><br>
          <input type="password" name="password" placeholder="Password"><br><br>
      
          <button type="submit">Login</button>
      
          <p>
            Don't have an account?
            <a href="/signup">Signup!</a>
          </p>
      
          <% if (typeof(message) != "undefined") { %>
            <div><%= message %></div>
          <% } %>
      </form>
      </div>
    <% } %>

    <% if(typeof user !== "undefined"){ %>
      <div class="col-lg-4 col-md-offset-1 col-md-4 header-sec header-sec-right">
        <h1>Welcome!</h1>
          <a href="/dashboard">Dashboard</a>
          <form action="/logout" method="POST">
            <button type="submit">Logout</button>
          </form>
      </div>
    <% } %>
    

     

    </div>
  </div>
</header>



