<!-- Start Navigation -->
<div id="myNavbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="#" class="navbar-brand">State of Mine</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
      </ul>
    </div>
  </div>
</div>    
<!--- End Navigation -->

<!-- Start Header Here -->
<header id="header" class="header">
  <div class="container header-text">
    <div class="row header-row">
      <div class="col-lg-6 col-md-6 header-sec header-sec-left wow bounceInLeft">
        <h1>State of Mine</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac nibh eget nisl aliquam molestie non nec tortor. 
          Vestibulum scelerisque, augue sit amet sagittis sodales, mauris orci mollis mi.
        </p>
        <img class="index-map" src="images/map-blank.png" alt="blank-map">
      </div>

      <% if(typeof user === "undefined"){ %>
      <div class="col-lg-4 col-md-offset-1 col-md-4 header-sec header-sec-right wow bounceInRight">
        <h1>Login </h1>
        <form action="/login" method="POST">
          <label for="username">Username</label><br>
          <input type="text" name="username" placeholder="Username"><br><br>
      
          <label for="password">Password</label><br>
          <input type="password" name="password" placeholder="Password"><br><br>

          <div class="index-btns">
            <button class="btn-success" type="submit">Login</button>
            <p>
              Don't have an account?
              <a href="/signup">Signup!</a>
            </p>
          </div>
      
          <% if (typeof(message) != "undefined") { %>
            <div><%= message %></div>
          <% } %>
      </form>
      </div>
    <% } %>

    <% if(typeof user !== "undefined"){ %>
      <div class="col-lg-4 col-md-offset-1 col-md-4 header-sec header-sec-right wow bounceInRight">
        <h1>Welcome!</h1>
        <h3>You are currently logged in.</h3>
        <div class="index-btns">
          <form action="/dashboard" method="GET">
            <button class="btn-info" type="submit">Dashboard</button>
          </form>
          <form action="/logout" method="POST">
            <button class="btn-danger" type="submit">Logout</button>
          </form>
        </div>
      </div>
    <% } %>
    </div>
  </div>
</header>

<!-- End Header Here -->

<!-- Start About Here -->

<div id="about" class="about">
  <div class="container about-text">
    <h2 class="wow fadeInUp">Why State of Mine?</h2>
    <hr>
    <div class="row">
      <div class="col-lg-4 col-md-4 wow fadeInLeft" data-wow-delay="1.2s">
        <i class="fas fa-book fa-3x" aria-hidden="true"></i>
        <h4>Record Your Travels</h4>
        <p>Lorem Ipsum passages, and more recently with desktop publishing software</p>
      </div>
      <div class="col-lg-4 col-md-4 wow fadeInLeft" data-wow-delay="0.8s">
        <i class="fas fa-images fa-3x" aria-hidden="true"></i>
        <h4>Upload Pictures</h4>
        <p>Lorem Ipsum passages, and more recently with desktop publishing software</p>
      </div>
      <div class="col-lg-4 col-md-4 wow fadeInLeft" data-wow-delay="0.4s">
        <i class="fas fa-plane fa-3x"></i>
        <h4>Because Travel</h4>
        <p>Lorem Ipsum passages, and more recently with desktop publishing software</p>
      </div>
    </div>
  </div>
</div>

<!-- End About Here -->

<!-- Start Contact Here -->

<section id="contact" class="content-section text-center">
  <div class="contact-section contact">
      <div class="container">
        <div class="contact-text">
        <h2><strong>Contact Us</strong></h2>
        <p>Feel free to contact us by filling the contact form.</p>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail2">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
              </div>
              <div class="form-group ">
                <label for="exampleInputText">Your Message</label>
               <textarea  class="form-control" placeholder="Description"></textarea> 
              </div>
              <button type="submit" class="btn btn-default">Send Message</button>
            </form>
          </div>
        </div>
       </div>
      </div>
  </div>
</section>
<!-- End Contact Here -->