/* Fonts:
font-family: 'Lobster', cursive;
font-family: 'Raleway', sans-serif; 
font-family: 'Passion One', cursive; */


body {
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

/* Main Index Page Styling Begins Here */
.header{
  background-image: url("../images/blue-twilight.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 650px;
  width: 100%;
}

@media(max-width:992px) {
  .header{
    height: 1100px;
  }
}

.header-text{
  padding-top: 100px;
}

@media(max-width:768px) {
  .header-text{
    width: 90%;
  }
}

.header-sec h1{
  font-family: 'Lobster', cursive;
  text-align: center;
  color: white;
  font-size: 4em;
  text-shadow:
   -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.header-sec-left{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  height: 500px;
}

.header-sec-left p{
  color: white;
  font-size: 1.5em;
}

.header-sec-right{
  margin-top: 60px;
  padding-left: 2%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 350px;
  border: 1px solid black;
}

.header-sec-right input{
  font-size: 1.5em;
  width: 80%;
}

.header-sec-right h1{
  color: #1EA4BD;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* About Styling Starts Here */
.about{
  text-align: center;
  height: 500px;
}

.about-text {
  padding: 50px 0;
}

.about h2{
  font-size: 6vw;
  color: #FDC86B;
  font-family: 'Lobster', cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
}

hr {
	height: 10px;
	border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  width: 75vw;
}

.about h4{
  font-family: 'Lobster', cursive;
  font-size: 2vw;
  padding: 15px 0;
  font-weight: bold;
}

.about p{
  font-size: 1.5vw;
}

/* About Styling Ends Here */

/* Contact Styling Starts Here */
.contact{
  background-image: url("../images/sunset.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 650px;
  width: 100%;
}

/* Contact Styling Ends Here */

/* Signup & Login Page Styling begins here */
.signup-page input, .login-page input{
  font-size: 1.5em;
}

.signup-page, .login-page{
  background-image: url("../images/purple-twilight.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
}

.signup, .login{
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 350px;
  margin-top: 120px;
  height: 400px;
}


/* Dashboard styling Begins Here */

#chartdiv {
  height: 400px;
  width: 100%;
  /* border: 1px solid black; */
}

.welcome {
  background-image: url("../images/blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 75px;
  margin-bottom: 50px;
  font-family: 'Passion One', cursive;
  text-align: center;
  background-color: #C2F6F7;
}

.welcome span{
  text-transform: capitalize;
}

.col-lg-4 ul{
  list-style-type: none;
}
