/* Fonts:
font-family: 'Lobster', cursive;
font-family: 'Raleway', sans-serif; 
font-family: 'Passion One', cursive; */

body {
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

/* Main Index Page Styling Begins Here */
.navbar{
  padding-left: 100px;
  font-size: 1.5em;
}

.navbar-right{
  padding-right: 100px;
}

.navbar-brand{
  font-size: 1.2em;
}

.header{
  background-image: url("../images/blue-twilight.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 650px;
  width: 100%;
}

@media(max-width:992px) {
  .header{
    height: 1100px;
  }
}

.header-text{
  padding-top: 100px;
}

@media(max-width:768px) {
  .header-text{
    width: 90%;
  }
}

.header-sec h1{
  font-family: 'Lobster', cursive;
  text-align: center;
  color: white;
  font-size: 4em;
  text-shadow:
   -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.header-sec-left{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 35px;
  height: 500px;
}

.header-sec-left p{
  color: white;
  font-size: 1.7em;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.index-map{
  width: 300px;
  display: block;
  margin: 0 auto;
}

.header-sec-right{
  margin-top: 60px;
  padding-left: 2%;
  background-color: rgba(255, 255, 255, 0.9);
  height: 350px;
  border: 1px solid black;
}

.header-sec-right input{
  font-size: 1.5em;
  width: 90%;
}

.header-sec-right h1{
  color: #1EA4BD;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.header-sec-right h3{
  text-align: center;
  color: #000;
  font-family: 'Lobster', cursive;
  text-shadow: -1px -1px 0 #1EA4BD, 1px -1px 0 #1EA4BD, -1px 1px 0 #1EA4BD, 1px 1px 0 #1EA4BD;
}

.header-sec-right .btn-info, .header-sec-right .btn-danger, .header-sec-right .btn-success{
  font-size: 2em;
  width: 250px;
  margin: 20px auto;
  border-radius: 30px;
}

.header-sec-right .btn-success{
  font-size: 1.5em;
  width: 250px;
  margin: 10px auto;
  border-radius: 30px;
}

.header-sec-right p{
  font-size: 1.2.em;
}

.index-btns{
  text-align: center;
}

/* About Styling Starts Here */
.about{
  text-align: center;
  height: 500px;
}

@media(max-width:992px) {
  .about{
    height: 1100px;
  }
}

.about-text {
  padding: 50px 0;
}

.about h2{
  font-size: 5em;
  color: #1EA4BD;
  font-family: 'Lobster', cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  
}

hr {
	height: 10px;
	border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  width: 75vw;
}

.about h4{
  font-family: 'Lobster', cursive;
  font-size: 2em;
  padding: 15px 0;
  font-weight: bold;
}

.about p{
  font-size: 2em;
}

/* About Styling Ends Here */

/* Contact Styling Starts Here */
.contact{
  background-image: url("../images/sunset.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 650px;
  width: 100%;
}

.contact-text{
  background-color: rgba(255, 255, 255, 0.2);
  width: 75%;
  border-radius: 20px;
  margin: 100px auto;
  padding-top: 30px;
}

@media(max-width:992px) {
  .contact-text form{
    width: 80%;
  }

  .media-fix{
    margin-left: 15%;
  }
}

.media-fix .btn{
  margin-bottom: 30px;
}

.contact-text h2, .contact-text p, .contact-text label{
  color: white;
}

/* Contact Styling Ends Here */

/* Signup & Login Page Styling begins here */
.signup-page input, .login-page input{
  font-size: 1.5em;
}

.signup-page, .login-page{
  background-image: url("../images/purple-twilight.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
}

.signup, .login{
  width: 350px;
  margin-top: 140px;
  height: 400px;
}

.signup h1, .login h1{
  font-size: 3em;
  font-family: 'lobster', cursive;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.signup-page, .login-page{
  text-align: center;
}

.signup-page input[type=text], .signup-page input[type=password],
.login-page input[type=text], .login-page input[type=password],
.header-sec-right input[type=text], .header-sec-right input[type=password]{
  border-radius: 30px;
  padding-left: 10px;
}


.signup-page p, .login-page p{
  color: white;
  font-size: 1.2em;
}

.signup-page a, .login-page a{
  width: 40px;
}

.login-form label, .signup-form label{
  color: white;
}

.crt-acct-btn{
  font-size: 1.5em;
  width: 245px;
  margin: 10px auto;
  border-radius: 30px;
}

.error-msg{
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

/* Dashboard styling Begins Here */
.dashboard-body{
  background-image: url("../images/mountains.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.dash-logout{
  background-color:red;
  color: white;
  border-radius: 15px;
  font-size: 1.2em;
  margin-top: 6px;
}

#chartdiv {
  height: 400px;
  width: 100%;
}

.welcome {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin-top: 75px;
  margin-bottom: 50px;
  font-family: 'Passion One', cursive;
  text-align: center;
}

.welcome-user{
  color: gold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 1.2em;
}

.welcome h1{
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.single-review{
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: zoom-in;
}

.single-review-text{
  padding: 20px 20px 30px 20px;
}

.reviews-row h1{
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 6rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-top: 20px;
}

.welcome span{
  text-transform: capitalize;
}

.col-lg-4 ul{
  list-style-type: none;
}

.single-review{
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.single-review-text form{
  display: inline-block;
}

.single-review-text button{
  margin-top: 20px;
}

.single-review-text{
  font-size:1.2em;
}

.add-review{
  font-size: 2em;
  border-radius: 30px;
  color: white;
  background-color: #32d33a;
  padding: 10px 15px;
}

.btn-div{
  text-align: center;
  margin: 50px auto 100px;
}

.review-btns{
  text-align: center;
}

.review-btns button{
  border-radius: 20px;
  font-weight: bold;
}

.clear-float{
  clear: both;
}

.review-comments, .modal-header h4{
  text-align: center;
}

/* Modal Styling Begins Here */

.review-img img{
  width: 200px;
  height: 300px;
  margin: 0 auto;
  float: left;
}

/* Add & Edit Reviews Styling goes Here */
.new-page, .edit-page{
  background-image: url('../images/blue-mountains.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.new-form, .edit-form{
  background-color: rgba(255, 255, 255, 0.7);
  width: 350px;
  margin: 0 auto;
  border-radius: 25px;
  margin-top: 30px;
}

.new-form h1, .edit-form h1{
  text-align: center;
  font-size: 3em;
  font-family: 'Lobster', cursive;
}

.form-text{
  padding: 30px;
}

.form-text input, textarea{
  width: 90%;
}


